child tracker.json
[{"id":"ce55fdfa.4303f","type":"tab","label":"Geo Fence","disabled":false,"info":""},{"id":"b2516314.ab33c","type":"ibmiot in","z":"ce55fdfa.4303f","authentication":"apiKey","apiKey":"a3ca7ec3.2f99f","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1002","applicationId":"","deviceType":"abcd","eventType":"location","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":67,"y":413,"wires":[["acf8eeff.81c23","ec77e908.865688"]]},{"id":"17d98e2f.2ef372","type":"function","z":"ce55fdfa.4303f","name":"location for geofence","func":"msg={\n   // payload:\"Outside the range\",\n    location:{\n    lat:global.get('lat'),\n    lon:global.get('lon')\n       //  lat:'17.3984',\n        // lon:'78.5583'\n}\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":175,"y":40,"wires":[["e6ca43ed.6b797"]]},{"id":"acf8eeff.81c23","type":"debug","z":"ce55fdfa.4303f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":277.5,"y":432,"wires":[]},{"id":"ec77e908.865688","type":"function","z":"ce55fdfa.4303f","name":"Globalizing variables","func":"global.set(\"lat\",msg.payload.d.lat)\nglobal.set(\"lon\",msg.payload.d.lon)\nreturn msg ;","outputs":1,"noerr":0,"x":350,"y":375,"wires":[[]]},{"id":"39f4c2f3.bdd62e","type":"cloudant out","z":"ce55fdfa.4303f","name":"","cloudant":"","database":"time_record","service":"node-red-qqhsg-cloudant-1591247382299-68611","payonly":false,"operation":"insert","x":666.5,"y":316,"wires":[]},{"id":"eb2b167d.658378","type":"inject","z":"ce55fdfa.4303f","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"x":89.5,"y":102,"wires":[["17d98e2f.2ef372"]]},{"id":"16ac5b89.d12044","type":"rbe","z":"ce55fdfa.4303f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":478,"y":101,"wires":[["86828941.2ffab8","c0304fae.69d92"]]},{"id":"6927854e.1134bc","type":"change","z":"ce55fdfa.4303f","name":"","rules":[{"t":"move","p":"location.inarea","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":445.5,"y":35,"wires":[["16ac5b89.d12044"]]},{"id":"86828941.2ffab8","type":"switch","z":"ce55fdfa.4303f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":90.5,"y":187,"wires":[["1d3ec5e6.1a3d6a","5b4fdf81.48356"],["ee565e9f.90c57","46932abd.624374"]]},{"id":"1d3ec5e6.1a3d6a","type":"function","z":"ce55fdfa.4303f","name":"enter time function in node red","func":"\n\nvar d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 5.5; // This is the offset for UTC+3, in your case (UTC+1) should be 1\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = {\"message\":\"Entered\",\"Time\":newDate.toLocaleString()};\n\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":254,"wires":[["bcd7464f.19b718","39f4c2f3.bdd62e"]]},{"id":"bcd7464f.19b718","type":"debug","z":"ce55fdfa.4303f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":661,"y":253,"wires":[]},{"id":"ee565e9f.90c57","type":"function","z":"ce55fdfa.4303f","name":"exit time function in node red","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 5.5; // This is the offset for UTC+3, in your case (UTC+1) should be 1\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = {\"message\":\"Exit\",\"Time\":newDate.toLocaleString()};\n\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":316,"wires":[["39f4c2f3.bdd62e","bcd7464f.19b718"]]},{"id":"54135a0d.d0c3e4","type":"http in","z":"ce55fdfa.4303f","name":"","url":"/setlocation","method":"get","upload":false,"swaggerDoc":"","x":111.5,"y":522,"wires":[["2a664258.dce6fe"]]},{"id":"5276bdd1.155224","type":"http response","z":"ce55fdfa.4303f","name":"","statusCode":"","headers":{},"x":470.5,"y":597,"wires":[]},{"id":"2a664258.dce6fe","type":"function","z":"ce55fdfa.4303f","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":292.5,"y":525,"wires":[["5276bdd1.155224","a0992bb1.733748","f67d28f9.0d8b58","1a10d7fe.15eb58"]]},{"id":"a0992bb1.733748","type":"function","z":"ce55fdfa.4303f","name":"latitude","func":"global.set(\"lat\",msg.payload.latitude)\nreturn {payload:msg.payload.latitude}","outputs":1,"noerr":0,"x":475.5,"y":483,"wires":[[]]},{"id":"f67d28f9.0d8b58","type":"function","z":"ce55fdfa.4303f","name":"longitude","func":"global.set(\"lon\",msg.payload.longitude)\nreturn {payload:msg.payload.longitude}","outputs":1,"noerr":0,"x":476.5,"y":541,"wires":[[]]},{"id":"1a10d7fe.15eb58","type":"debug","z":"ce55fdfa.4303f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":473.5,"y":653,"wires":[]},{"id":"bd310a53.be14c8","type":"comment","z":"ce55fdfa.4303f","name":"location from mobile","info":"","x":663.5,"y":470,"wires":[]},{"id":"aa144aff.dec028","type":"comment","z":"ce55fdfa.4303f","name":"notifier to mobile","info":"","x":90.5,"y":660,"wires":[]},{"id":"c0304fae.69d92","type":"function","z":"ce55fdfa.4303f","name":"","func":"global.set(\"status\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":696.5,"y":52,"wires":[["6747b9ec.50ba58"]]},{"id":"9f20cbea.6ad668","type":"comment","z":"ce55fdfa.4303f","name":"Location from GPS module","info":"","x":115,"y":357,"wires":[]},{"id":"f20b375a.452e28","type":"worldmap","z":"ce55fdfa.4303f","name":"","lat":"19","lon":"83","zoom":"7","layer":"OSM","cluster":"18","maxage":"1000","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":355.5,"y":842,"wires":[]},{"id":"ab1ecd8c.bef05","type":"function","z":"ce55fdfa.4303f","name":"","func":"    msg.payload = {\n         \"name\":\"Child1\",\n         \"lat\":global.get(\"lat\"), \n         \"lon\":global.get('lon') \n   \n   // \"lat\":\"17.433741\",\n   //\"lon\":\"78.554588\"\n    }\nreturn msg;","outputs":1,"noerr":0,"x":237,"y":780,"wires":[["308dd2fa.f4541e","f20b375a.452e28"]]},{"id":"e681497f.42bcc8","type":"inject","z":"ce55fdfa.4303f","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":104.5,"y":836,"wires":[["ab1ecd8c.bef05"]]},{"id":"308dd2fa.f4541e","type":"debug","z":"ce55fdfa.4303f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430.5,"y":781,"wires":[]},{"id":"afff46f4.376da8","type":"ui_toast","z":"ce55fdfa.4303f","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Child Tracker-Geo Fence ","name":"","x":377.5,"y":916,"wires":[["4335cbf6.5ad004"]]},{"id":"1605d313.d80b3d","type":"ui_toast","z":"ce55fdfa.4303f","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Child Tracker-Geo Fence ","name":"","x":381,"y":975,"wires":[["1bd75a9e.b2fa85"]]},{"id":"4335cbf6.5ad004","type":"debug","z":"ce55fdfa.4303f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":574.5,"y":916,"wires":[]},{"id":"1bd75a9e.b2fa85","type":"debug","z":"ce55fdfa.4303f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":571,"y":974,"wires":[]},{"id":"8ebe3bad.2a4f28","type":"function","z":"ce55fdfa.4303f","name":"","func":"\nmsg.payload=\"child entered the geofence\"\n\nreturn msg;","outputs":1,"noerr":0,"x":207,"y":915,"wires":[["afff46f4.376da8"]]},{"id":"15a06b02.7ce0d5","type":"function","z":"ce55fdfa.4303f","name":"","func":"\nmsg.payload=\"Child crossed the Geofence\"\n\nreturn msg;","outputs":1,"noerr":0,"x":207,"y":977,"wires":[["1605d313.d80b3d"]]},{"id":"5b4fdf81.48356","type":"link out","z":"ce55fdfa.4303f","name":"","links":["4388921b.8a7b5c"],"x":96,"y":288,"wires":[]},{"id":"4388921b.8a7b5c","type":"link in","z":"ce55fdfa.4303f","name":"","links":["5b4fdf81.48356"],"x":78,"y":916,"wires":[["8ebe3bad.2a4f28"]]},{"id":"46932abd.624374","type":"link out","z":"ce55fdfa.4303f","name":"","links":["a78fbb45.807338"],"x":174,"y":306,"wires":[]},{"id":"a78fbb45.807338","type":"link in","z":"ce55fdfa.4303f","name":"","links":["46932abd.624374"],"x":79,"y":978,"wires":[["15a06b02.7ce0d5"]]},{"id":"6747b9ec.50ba58","type":"debug","z":"ce55fdfa.4303f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":100,"wires":[]},{"id":"e6ca43ed.6b797","type":"geofence","z":"ce55fdfa.4303f","name":"","mode":"circle","inside":"both","rad":40629.47391694046,"points":[],"centre":{"latitude":19.534424950781702,"longitude":83.41863993555307},"x":280,"y":100,"wires":[["6927854e.1134bc"]]},{"id":"a3ca7ec3.2f99f","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"1tjvme.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]